INCLUDE("app_common.cfg");
#include "ev3.h"
#include "app.h"

DOMAIN(TDOM_APP) {
    CRE_TSK( MAIN_TASK, { TA_ACT , 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL } );

    CRE_TSK( LT_TASK , { TA_NULL, 0, linetrace_task , LT_PRIORITY , STACK_SIZE, NULL } );    
    CRE_CYC( LT_CYC  , { TA_NULL, { TNFY_ACTTSK, LT_TASK }, 50000, 0} );
}

ATT_MOD("app.o");